Tuple

In [1]:
t=()
t

()

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
t1=(10,20,30,40,40)
t1

(10, 20, 30, 40, 40)

In [4]:
len(t1)

5

In [5]:
t1.count(10)

1

In [6]:
t1.count(40)

2

In [7]:
t1

(10, 20, 30, 40, 40)

In [8]:
t1.index(20)

1

In [9]:
l5=['a','b','c','d']
l5[1]=10
l5

['a', 10, 'c', 'd']

In [10]:
t2=(100,3.4,'nit',True,1+2j,[1,2,3],(5,6,7))
t2

(100, 3.4, 'nit', True, (1+2j), [1, 2, 3], (5, 6, 7))

In [11]:
print(t)
print(t1)
print(t2)

()
(10, 20, 30, 40, 40)
(100, 3.4, 'nit', True, (1+2j), [1, 2, 3], (5, 6, 7))

In [12]:
t1[0] =1000
t1

TypeError: 'tuple' object does not support item assignment

In [ ]:
icici =(45678,'cizps7789',332000,98765)
icici

(45678, 'cizps7789', 332000, 98765)

In [ ]:
icici[0]=1234
icici

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1

(10, 20, 30, 40, 40)

In [ ]:
t4 = t1*3
t4

(10, 20, 30, 40, 40, 10, 20, 30, 40, 40, 10, 20, 30, 40, 40)

In [ ]:
t4[:]

(10, 20, 30, 40, 40, 10, 20, 30, 40, 40, 10, 20, 30, 40, 40)

In [ ]:
t1[:7]

(10, 20, 30, 40, 40)

In [ ]:
t1[2:]

(30, 40, 40)

In [ ]:
t1[0:10:2]

(10, 30, 40)